// 
// Callout
// 
#about {
    background: $white;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    h2 {
        text-align: center; // Center the "About Me" heading
    }
    p {
        text-align: left;
    }
}

