// 
// About
// 
#about {
    background: $white;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    .aboutp {
        text-align: left;
    }
    
    .slideshow-container {
        position: relative;
        margin: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        width: 600px; // Set your desired width
        height: 700px; // Set your desired height
        
    
        .slide {
            display: none; // Hide the slides by default
            position: absolute; // Position them absolutely within the slideshow container
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    
        img {
          max-width: 100%; // Ensure the images resize properly within the container
          height: auto;
          object-fit: cover; // Ensure the images cover the entire area without distortion
          padding-right: 20px;
        }
    
        .slideshow-controls {
          position: absolute;
          bottom: 0;
          left: 0;
          width: calc(100% - 20px);
          background-color: black;
          display: flex;
          justify-content: space-between;
          padding: 10px;
    
          .prev, .next {
            cursor: pointer;
            color: white;
            font-weight: bold;
            font-size: 20px;
          }
        }
      }
    }