doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Jackson Rini

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Jackson Rini
                li.sidebar-nav-item
                    a(href='#page-top') Home
                li.sidebar-nav-item
                    a(href='#about') About
                li.sidebar-nav-item
                    a(href='#projects') Projects
                li.sidebar-nav-item
                    a(href='#skills') Skills
                li.sidebar-nav-item
                    a(href='#intern') Internships
                li.sidebar-nav-item
                    a(href='#footer') Contact

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-2 Jackson Rini
                h4.mb-5 Aspiring Software Engineer and Data Scientist
                a.btn.btn-dark.btn-xl(href='#about') About Me

        // About
        section#about
            .container.px-4.px-lg-5.text-center
                .content-section-heading.text-center
                    h2.mb-5 About Me
                .row.align-items-left
                    .col-lg-6
                        //- img.img-fluid(src='/assets/img/headshot.jpg', alt='Your Image')
                        .slideshow-container
                            img.slide(src='/assets/img/headshot.jpg', alt='Image 1')
                            img.slide(src='/assets/img/dfGedSku.jpeg', alt='Image 2')
                            .slideshow-controls
                                a.prev(href='javascript:void(0)') ❮
                                a.next(href='javascript:void(0)') ❯
                    .col-lg-6.aboutp
                        p.lead.mb-5
                            | Hello! I'm Jackson Rini and will be graduating with a Bachelor of Science in Computer Science from the University of Colorado, Boulder in May 2024. Throughout my academic journey, I've delved deep into the captivating realm of computer science, including diverse topics ranging from algorithms and data structures to software engineering and artificial intelligence.
                        p.lead.mb-5
                            | My time at CU Boulder has been marked by enriching experiences, including engaging in various internships and projects. These opportunities have allowed me to collaborate within teams, acquire new skills on the go, and adeptly navigate unforeseen challenges.
                        p.lead.mb-5    
                            | Beyond the realm of code, I'm deeply passionate about playing guitar, skiing, exercising in the gym, and reading literature, which provide balance and inspiration in my life. Whether it's learning songs on the guitar or observing different art forms, I find that diverse interests fuel creativity and enrich my perspective as a computer scientist.
                        p.lead.mb-5    
                            | As I embark on the next leg of my journey, I'm excited to find projects and challenges in which to immerse myself. I am committed to lifelong learning and continuous growth in the dynamic field of computer science.   
                            | I'm eager to apply my skills and knowledge to make contributions to meaningful projects. Let's connect and explore how we can collaborate!
                a.btn.btn-primary.btn-xl(href='/assets/pdfs/Jackson Rini Resume Final.pdf', target='_blank') View Resume
                a.btn.btn-primary.btn-xl(href='#footer') Contact
        // Projects
        section#projects.projects.content-section.bg-primary.text-white.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Projects
                .row.gx-0.mb-2
                    .col-lg-6
                        a.portfolio-item(href='#overlay1')
                            .caption.superpowers-caption
                                .caption-content
                                    .h2 Senior Project - Superpowers
                                    p.mb-0 Automation of venture investment opportunity discovery and evaluation process
                            video.img-fluid(autoplay loop muted)
                                source(src='assets/vid/superpowers.mp4', type='video/mp4')
                                Your browser does not support the video tag.
                    .col-lg-6
                        a.portfolio-item(href='#overlay2')
                            .caption
                                .caption-content
                                    .h2 Car Price Prediction
                                    p.mb-0 Data Mining using Machine Learning and Regression
                            video.img-fluid(autoplay loop muted)
                                source(src='assets/vid/datamining2.mp4', type='video/mp4')
                                Your browser does not support the video tag.
                .row.gx-0.justify-content-center
                    .col-lg-6
                        a.portfolio-item(href='#overlay3')
                            .caption
                                .caption-content
                                    .h2 Invoicable Item Automation
                                    p.mb-0 PDF OCR in tandem with Selenium website interaction
                            video.img-fluid(autoplay loop muted)
                                source(src='assets/vid/vumcrecording.mp4', type='video/mp4')
                                Your browser does not support the video tag.
            #overlay1.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay1 &times;
                    h2.mb-3 Superpowers
                    .row.align-items-top.mb-5
                        .col-lg-6.overlay2p
                            p.text-left
                                strong Description:
                                | This project aims to contribute to the automation of venture investment opportunity discovery and aid in the evaluation process, closely emulating the decision-making procedures employed by investors, encompassing data collection, preliminary analysis, and effective visualization. Leveraging advanced machine learning techniques, the project seeks to streamline critical processes, enhancing efficiency and accuracy, ultimately enabling investors to redirect their focus towards more strategic initiatives, resulting in better-informed investment decisions.
                            p.text-left
                                strong Objectives and Scope:
                            p.text-left
                                strong Requirements:
                            ul
                                li
                                    | Develop data collection programs to collect specific data
                                li
                                    | Store data from data collection programs and other sources in databases
                                li
                                    | Conduct testing and validation of the entire system to ensure its accuracy and reliability
                                li
                                    | Document functions (e.g., API)
                                li
                                    | Use methods (e.g., Machine Learning) to recommend potential ventures for investment consideration
                                li
                                    | Use tools (e.g., Generative AI) to generate reports for potential ventures
                                li
                                    | Create a visualization tool to display data (e.g., front end dashboard)
                            p.text-left
                                strong Scope:
                            ul
                                li
                                    | Development of data collection programs to collect data
                                li
                                    | Importing data from data sources (e.g., Crunchbase API)
                                li
                                    | Testing and validation of the system
                                li
                                    | Implementation of machine learning algorithms to match investors and companies and/or entrepreneurs
                                li
                                    | Development of program (e.g., language model) to generate reports of matched companies and/or entrepreneurs
                                li
                                    | Creation of data visualization dashboard
                            p.text-left
                                strong Project Approach:
                            p.text-left
                                strong Assumptions:
                            ul
                                li
                                    | Create data collection programs to collect data (e.g., from websites) and record it in a database
                                li
                                    | Clean and filter data to be usable and generate list of exceptions from data that is flagged during cleaning
                                li
                                    | Feed data into the program for use
                            p.text-left
                                strong Risks and Issues:
                            ul
                                li
                                    | Data collection through PDFs may require the use of an OCR which are generally unreliable
                                li
                                    | Data collection through APIs may be costly
                                li
                                    | Data collection through web scraping may only be for academic purposes
                                li
                                    | If OCR is used, this would lead to higher risk of incomplete data or misidentification of data
                                li
                                    | ML methods may overfit or underfit and may not perform with expected accuracy
                                li
                                    | Generative AI may not create predictable reports
                            p.text-left
                                strong Changes:
                                | Any future changes to the project scope and requirements will be agreed upon by the team with unanimous agreement. In addition, changes will also be reviewed by the sponsor for final approval. Such changes will be documented through appropriate channels (e.g., Project Log on GitHub).
                            p.text-left
                                strong Project Members:
                            table
                                tr
                                    th Name
                                    th Email
                                tr
                                    td Shuyu Song
                                    td shso9201@colorado.edu
                                tr
                                    td Nina Ning
                                    td Nina.Ning@colorado.edu
                                tr
                                    td Jackson Rini
                                    td jari3257@colorado.edu
                                tr
                                    td Angel Romero
                                    td anro9968@colorado.edu
                                br
                            p.text-left
                                strong Project Customers:
                            table
                                    td Patricia Columbus-Powers
                                    td pscpower@gmail.com, pscpowers@superpowers-inc.com
                                    td Patricia Columbus-Powers
                                    td December 11, 2023
                        .col-lg-6
                            iframe(src='/assets/pdfs/machinelearning.pdf#toolbar=0', width='100%', height='600px', scrolling='yes')
                    .row.text-center
                        .col-lg-12
                            a.btn.btn-primary.mb-3.btn-xl(href='https://github.com/Superpowers-CU/ai-for-venture-investment', target='_blank') View Source Code


            #overlay2.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay2 &times;
                    h2.mb-3 Car Price Prediction
                    .row.align-items-top.mb-5
                        .col-lg-6.overlay2p
                            p.text-left
                                strong Used Cars Market Analysis in Saudi Arabia
                            p.text-left
                                strong Abstract:
                                | This project utilizes regression analysis to assess the depreciation rates of used car brands in Saudi Arabia, focusing on mileage as a determining factor. Two datasets were consolidated and cleaned to enhance data quality. Three regression models - Random Forest, Linear Regression, and XGBoost - were employed to predict car prices and evaluate depreciation rates. XGBoost emerged as the most accurate model, revealing insights into which car brands maintain their value best.
                            p.text-left
                                strong Introduction:
                                | The COVID-19 pandemic and economic factors have led to a surge in the used car market in Saudi Arabia, prompting a shift in consumer preferences towards more affordable options. Understanding the factors influencing used car depreciation rates has become crucial. This project aims to provide insights into which cars retain their value the most, aiding consumers in making informed purchasing decisions.
                            p.text-left
                                strong Related Work:
                                | Previous studies, such as Mammadov (2021) and Erdem & Senturk (2009), have analyzed used car markets using regression techniques, offering valuable insights into factors affecting car prices and depreciation rates.
                            p.text-left
                                strong Main Technique:
                                | Data understanding involved consolidating and cleaning datasets, followed by preprocessing for regression analysis. Three regression models - Random Forest, Linear Regression, and XGBoost - were employed to predict car prices and evaluate depreciation rates.
                            p.text-left
                                strong Evaluation:
                                | Depreciation rates of different car brands were evaluated using regression models, revealing insights into which brands retain their value best. GMC, Chevrolet, and Mitsubishi were identified as top performers in maintaining value.
                            p.text-left
                                strong Conclusion:
                                | This study provides valuable insights into the used car market in Saudi Arabia, particularly regarding depreciation rates of various brands. Consumers can now make more informed decisions when purchasing used cars, maximizing the value of their investment.
                            p.text-left
                                strong Future Work:
                                | Future studies aim to enhance data quality by including more diverse datasets and exploring additional predictive analyses, such as deep neural networks. Furthermore, incorporating broader economic factors into the analysis could offer a more comprehensive understanding of the Saudi car market.
                        .col-lg-6
                            iframe(src='/assets/pdfs/used-cars.pdf#toolbar=0', width='100%', height='600px', scrolling='yes')
                    .row.text-center
                        .col-lg-12
                            a.btn.btn-primary.mb-3.btn-xl(href='https://github.com/jaxri/DataMiningProject/tree/main', target='_blank') View Source Code
            #overlay3.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay3 &times;
                    h2.mb-3 Automation Solution for Clinical Trials Revenue Generation
                    .row.align-items-top
                        .col-lg-6.overlay3p
                            p.text-left
                                strong Description:
                            p Developed a sophisticated automation process for Vanderbilt Ingram Cancer Center's Clinical Trial Office to streamline the creation of invoiceable items within their Clinical Trials Management System (Oncore). Leveraging Selenium, OCRs, and data scrapers, the project significantly improved operational efficiency and generated incremental annual revenue exceeding $500K. This solution utilizes information gathered through OCR to enhance data accuracy and streamline processes.
                            p.text-left
                                strong Key Points:
                            ul
                                li
                                    | Developed automation process for Vanderbilt Ingram Cancer Center's Clinical Trial Office.
                                li
                                    | Streamlined creation of invoiceable items within Clinical Trials Management System (Oncore).
                                li
                                    | Utilized Selenium, OCRs, and data scrapers for efficient data handling.
                                li
                                    | Generated incremental annual revenue exceeding $500K.
                                li
                                    | Enhanced operational efficiency and accuracy while reducing manual errors.
                            p.text-left
                                strong Technologies Used:
                            ul
                                li Selenium: Facilitated web-based interactions and data entry within Oncore's interface.
                                li OCRs (Optical Character Recognition): Extracted relevant information from documents and reports, enhancing data accuracy.
                                li Data Scrapers: Gathered and processed data from disparate sources for comprehensive automation coverage.
                            p.text-left
                                strong Impact:
                            ul
                                li Marked improvement in operational efficiency by eliminating manual data entry tasks and reducing processing times.
                                li Generated substantial incremental annual revenue, demonstrating financial impact.
                                li Enhanced data accuracy and compliance, mitigating risks associated with manual errors and regulatory non-compliance.
                            p.text-left
                                strong Conclusion:
                            p.text-left
                                | The automation solution developed for Vanderbilt Ingram Cancer Center's Clinical Trial Office showcases the transformative potential of technology in healthcare revenue management. By streamlining processes and driving revenue growth, the project underscores the importance of automation in optimizing operational workflows and financial outcomes in clinical trial management. The integration of OCR technology further enhances data accuracy and efficiency, contributing to the overall success of the solution.
                        .col-lg-6
                            iframe(src='/assets/pdfs/florence final.pdf#toolbar=0', width='100%', height='600px', scrolling='yes')



        // Skills
        section#skills.skills.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                h2.mx-auto.mb-3 Skills
                .row
                    .col-lg-12
                        i.devicon-cplusplus-plain-wordmark.fa-4x.mb-1(title="C++")
                        | &nbsp;
                        i.devicon-c-plain-wordmark.fa-4x.mb-1(title="C")
                        | &nbsp;
                        i.devicon-java-plain-wordmark.fa-4x.mb-1(title="Java")
                        | &nbsp;
                        i.devicon-html5-plain-wordmark.fa-4x.mb-1(title="HTML")
                        | &nbsp;
                        i.devicon-css3-plain-wordmark.fa-4x.mb-1(title="CSS")
                        | &nbsp;
                        i.devicon-mysql-plain-wordmark.fa-4x.mb-1(title="mySQL")
                        | &nbsp;
                        i.devicon-react-original-wordmark.fa-4x.mb-1(title="React.js")
                        | &nbsp;
                        i.devicon-scala-plain-wordmark.fa-5x.mb-1(title="Scala")
                        | &nbsp;
                        i.devicon-java-plain-wordmark.fa-5x.mb-1(title="JavaScript")
                        | &nbsp;
                        i.devicon-javascript-plain.fa-4x.mb-1(title="JavaScript")
                        | &nbsp;
                        i.devicon-python-plain-wordmark.fa-4x.mb-1(title="Python")
                        | &nbsp;
                        i.devicon-pandas-plain-wordmark.fa-4x.mb-1(title="pandas")
                        | &nbsp;
                        i.devicon-numpy-plain-wordmark.fa-4x.mb-1(title="NumPy")
                        | &nbsp;
                        i.devicon-scikitlearn-plain.fa-4x.mb-1(title="SciPy")
                        | &nbsp;
                        i.devicon-selenium-original.fa-4x.mb-1(title="Selenium")
                        | &nbsp;
                        i.devicon-matplotlib-plain-wordmark.fa-5x.mb-1(title="matplotlib")
                        | &nbsp;


        // Internships
        section#intern.intern.content-section.bg-primary.text-white.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Internships
                .row.gx-0.mb-3
                    .col-lg-6
                        a.portfolio-item(href='#overlay4')
                            .caption
                                .caption-content
                                    //.h2 Vanderbilt University Medical Center
                                    //p.mb-0 Nasheville, Tennessee
                            img.img-fluid(src='assets/img/vumc-logo.jpg', alt='Vanderbilt University Medical Center logo')
                    .col-lg-6
                        a.portfolio-item(href='#overlay5')
                            .caption
                                .caption-content
                                    //- .h2 Digital Global Systems
                                    //- p.mb-0 Tyson, Virginia
                            img.img-fluid(src='assets/img/dgs-logo.jpg', alt='Digital Global Systems logo')
                .row.gx-0.justify-content-center
                    .col-lg-6
                        a.portfolio-item(href='#overlay6')
                            .caption
                                .caption-content
                                    //- .h2 fortyAU
                                    //- p.mb-0 Nasheville, Tennessee
                            img.img-fluid(src='assets/img/fortyau-logo.jpg', alt='fortyAU logo')
            #overlay4.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay4 &times;
                    h2.mb-3 Vanderbilt University Medical Center
                    h5.mb-3 Nasheville, Tennessee
                    .overlay4p
                        p During my internship at Vanderbilt University Medical Center from May to August 2023, I significantly contributed to their Clinical Trials Management System (Oncore) by automating invoiceable item creation. Utilizing Python, Selenium, and OCRs, I developed a robust system that streamlined processes, resulting in substantial cost savings and annual revenue exceeding $500,000.

                        p My primary focus was to automate workflows, eliminating manual data entry and reducing error margins. Using Selenium, I crafted scripts to seamlessly navigate the Oncore interface, inputting and retrieving data efficiently. Additionally, I integrated OCR technology to extract information from scanned documents, further enhancing automation.

                        p Throughout the project, I encountered challenges adapting automation scripts to handle diverse document formats and optimizing performance for large datasets. However, through persistence and problem-solving, I overcame these obstacles and delivered a solution that exceeded expectations.

                        p This internship provided invaluable hands-on experience in software development, data automation, and project management within the healthcare industry. It sharpened my technical skills in Python programming, Selenium web automation, and OCR implementation while honing my ability to collaborate effectively with cross-functional teams.

                        p One of the most memorable aspects was witnessing the tangible impact of my work on the organization's operations and financial outcomes. Seeing the project's success translate into significant revenue growth was incredibly rewarding and reinforced my passion for leveraging technology for positive change.

                        p Overall, my internship at Vanderbilt University Medical Center was transformative, equipping me with practical skills, industry insights, and a profound sense of accomplishment. I am grateful for the opportunity to have contributed to such a meaningful project and look forward to applying the knowledge gained in my future endeavors.
            #overlay5.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay5 &times;
                    h2.mb-3 Digital Global Systems
                    h5.mb-3 Tysons, Virginia
                    .overlay5p
                        p During my internship at Digital Global Systems from May to August 2022, I undertook projects to enhance the functionality and efficiency of radio frequency boards.

                        p One primary responsibility was developing C programs to adjust the gain levels of radio frequency boards. Through meticulous coding and rigorous testing, I implemented algorithms that precisely modulated gain settings, improving board performance and reliability.

                        p Furthermore, I optimized a Python program to record and graph gain data from the radio frequency boards, leveraging libraries like NumPy, Pandas, and Matplotlib to streamline data processing and visualization.

                        p Additionally, I played a pivotal role in data acquisition and analysis by creating Python scripts to download FCC frequency data and conduct preprocessing and cleaning. These scripts automated the task of collecting regulatory information, ensuring compliance and accuracy while saving valuable time.

                        p Furthermore, I showcased our work at a radio frequency conference in Las Vegas. Our optimized Python program and visually compelling graphs generated significant attention and appreciation, reaffirming the impact of our contributions on the RF engineering community.

                        p Throughout the internship, I encountered challenges debugging complex C programs and optimizing Python scripts. However, through perseverance and collaboration, I delivered high-quality solutions that exceeded expectations.

                        p This internship provided invaluable hands-on experience in software development, data analysis, and RF engineering within the telecommunications industry. It enhanced my proficiency in C and Python programming, as well as my familiarity with essential data manipulation tools.

                        p One of the most rewarding aspects was witnessing the tangible impact of my contributions to the company's products and processes. Knowing my work played a vital role in improving board performance and reliability was incredibly fulfilling, reinforcing my passion for technology-driven innovation.

                        p Overall, my internship at Digital Global Systems was transformative, providing practical skills, industry knowledge, and a strong foundation for future endeavors in RF engineering and telecommunications. I am grateful for the opportunity to have been part of such a dynamic team and look forward to applying the lessons learned in my career.
                   
            #overlay6.overlay
                .overlay-content.text-black
                    button.close-btn#close-overlay6 &times;
                    h2.mb-3 fortyAU
                    h5.mb-3 Nasheville, Tennessee
                    .overlay6p
                        p During my internship at fortyAU from January to August 2021, I contributed to various projects, gaining valuable experience in web development and design.

                        p One project involved developing pages and forms for Preston Taylor Ministries to enhance their online presence and improve user engagement. Leveraging HTML, CSS, and JavaScript, I created intuitive interfaces that effectively communicated the organization's mission.

                        p Similarly, I collaborated with MedRenewel to develop pages and forms, streamlining their online processes and enhancing customer experience. Through attention to detail and adherence to industry best practices, I contributed to creating a professional and functional website.

                        p Additionally, I was involved in bootstrapping the CrushConnection app, gaining insights into mobile app development and project management in a dynamic environment.

                        p Furthermore, I contributed to constructing pages for HomeworkHotline, creating informative and visually appealing content showcasing the organization's services.

                        p Additionally, I played a role in quality assurance efforts for several websites, ensuring functionality, usability, and overall quality for a satisfying user experience.

                        p Overall, my internship at fortyAU provided invaluable hands-on experience, expanding my skills in web development, design, and project management. I am grateful for the opportunity to have contributed to impactful initiatives and look forward to applying the knowledge and experiences gained in my future endeavors.
        // Footer
        footer#footer.footer.text-center
            .container.px-4.px-lg-5.text-center
                    h2.mx-auto.mb-4
                        | Contact Me
                    a.btn.btn-primary.mb-3.btn-xl(href='mailto:jacksonrini3@gmail.com') Send me an Email!
            .container.px-4.px-lg-5(style="padding-top: 20px; padding-bottom: 20px;")
                ul.list-inline.mb-3
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.linkedin.com/in/jackson-rini-a6ba601b8/', target='_blank')
                            i.icon-social-linkedin
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://github.com/jaxri', target='_blank')
                            i.icon-social-github

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')