doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Jackson Rini

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Jackson Rini
                li.sidebar-nav-item
                    a(href='#page-top') Home
                li.sidebar-nav-item
                    a(href='#about') About
                li.sidebar-nav-item
                    a(href='#projects') Projects
                li.sidebar-nav-item
                    a(href='#skills') Skills
                li.sidebar-nav-item
                    a(href='#intern') Internships
                li.sidebar-nav-item
                    a(href='#contact') Contact

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 Jackson Rini
                a.btn.btn-dark.btn-xl(href='#about') About Me

        // About
        section#about
            .container.px-4.px-lg-5.text-center
                .content-section-heading.text-center
                    h2.mb-5 About Me
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/IMG_0420.jpg', alt='Your Image')
                    .col-lg-6.text-left
                        p.lead.mb-5
                            | Hello, I'm Jackson Rini, and I'm thrilled to be graduating with a Bachelor of Science in Computer Science from the University of Colorado, Boulder. Throughout my academic journey, I've delved deep into the captivating realm of computer science, delving into diverse topics ranging from algorithms and data structures to software engineering and artificial intelligence.
                        p.lead.mb-5
                            | My time at CU Boulder has been marked by enriching experiences, including engaging in various internships and projects. These opportunities have allowed me to collaborate within teams, acquire new skills on the go, and adeptly navigate unforeseen challenges.
                        p.lead.mb-5    
                            | Beyond the realm of code, I'm deeply passionate about playing guitar, exercising in the gym, and reading literature, which provide balance and inspiration in my life. Whether it's learning songs on the guitar or observing different art forms, I find that diverse interests fuel creativity and enrich my perspective as a computer scientist.
                        p.lead.mb-5    
                            | As I embark on the next chapter of my journey, I'm excited to find projects and challenges to immerse myself in. Whether it's further schooling, furthering my career, or independent projects, I'm committed to lifelong learning and continuous growth in the dynamic field of computer science.   
                            | I'm eager to apply my skills and knowledge to make contributions to meaningful projects. Let's connect and explore how we can collaborate together.
                a.btn.btn-primary.btn-xl(href='/assets/Resume.pdf', target='_blank') View Resume
                a.btn.btn-primary.btn-xl(href='#contact') Contact
        // Projects
        section#projects.projects.content-section.bg-primary.text-black.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Projects
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(href='#overlay1')
                            .caption
                                .caption-content
                                    .h2 Senior Project - Superpowers
                                    p.mb-0 Automation of venture investment opportunity discovery and evaluation process
                            img.img-fluid(src='assets/img/portfolio-1.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#overlay2')
                            .caption
                                .caption-content
                                    .h2 Car Price Prediction
                                    p.mb-0 Data Mining using Machine Learning and Regression
                            video.img-fluid(autoplay loop muted)
                                source(src='assets/vid/datamining2.mp4', type='video/mp4')
                                Your browser does not support the video tag.
                .row.gx-0.justify-content-center
                    .col-lg-6
                        a.portfolio-item(href='#overlay3')
                            .caption
                                .caption-content
                                    .h2 Invoicable Item Automation
                                    p.mb-0 PDF OCR in tandem with  Selenium website interaction
                            img.img-fluid(src='assets/img/portfolio-3.jpg', alt='...')
            #overlay1.overlay
                .overlay-content
                    button.close-btn#close-overlay1 &times;
                    h2 Superpowers
                    .row.align-items-center
                        .col-lg-12.overlay1p
                            p This is a work in progress and will be updated upon completion.
            #overlay2.overlay
                .overlay-content
                    button.close-btn#close-overlay2 &times;
                    h2 Car Price Prediction
                    .row.align-items-center
                        .col-lg-6.overlay2p
                            p.text-left
                                strong Used Cars Market Analysis in Saudi Arabia
                            p.text-left
                                strong Abstract:
                                | This project utilizes regression analysis to assess the depreciation rates of used car brands in Saudi Arabia, focusing on mileage as a determining factor. Two datasets were consolidated and cleaned to enhance data quality. Three regression models - Random Forest, Linear Regression, and XGBoost - were employed to predict car prices and evaluate depreciation rates. XGBoost emerged as the most accurate model, revealing insights into which car brands maintain their value best. 
                            p.text-left
                                strong Introduction:
                                | The COVID-19 pandemic and economic factors have led to a surge in the used car market in Saudi Arabia, prompting a shift in consumer preferences towards more affordable options. Understanding the factors influencing used car depreciation rates has become crucial. This project aims to provide insights into which cars retain their value the most, aiding consumers in making informed purchasing decisions.
                            p.text-left
                                strong Related Work:
                                | Previous studies, such as Mammadov (2021) and Erdem & Senturk (2009), have analyzed used car markets using regression techniques, offering valuable insights into factors affecting car prices and depreciation rates.
                            p.text-left
                                strong Main Technique:
                                | Data understanding involved consolidating and cleaning datasets, followed by preprocessing for regression analysis. Three regression models - Random Forest, Linear Regression, and XGBoost - were employed to predict car prices and evaluate depreciation rates. 
                            p.text-left
                                strong Evaluation:
                                | Depreciation rates of different car brands were evaluated using regression models, revealing insights into which brands retain their value best. GMC, Chevrolet, and Mitsubishi were identified as top performers in maintaining value.
                            p.text-left
                                strong Conclusion:
                                | This study provides valuable insights into the used car market in Saudi Arabia, particularly regarding depreciation rates of various brands. Consumers can now make more informed decisions when purchasing used cars, maximizing the value of their investment.
                            p.text-left
                                strong Future Work:
                                | Future studies aim to enhance data quality by including more diverse datasets and exploring additional predictive analyses, such as deep neural networks. Furthermore, incorporating broader economic factors into the analysis could offer a more comprehensive understanding of the Saudi car market.
                        .col-lg-6 
                            iframe(src='/assets/pdfs/used-cars.pdf#toolbar=0', width='100%', height='600px', scrolling='yes')
                    .row.text-center
                        .col-lg-12
                            a.btn.btn-primary.btn-xl(href='https://github.com/jaxri/DataMiningProject/tree/main', target='_blank') View Source Code
            #overlay3.overlay
                .overlay-content
                    button.close-btn#close-overlay3 &times;
                    h2 Project 3 Description
                    p This is the description of Project 3.

        // Skills
        section#skills.skills.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                h2.mx-auto.mb-5 Skills
                .row
                    .col-lg-12
                        i.devicon-cplusplus-plain-wordmark.fa-4x.mb-1(title="C++")
                        i.devicon-java-plain-wordmark.fa-4x.mb-1(title="Java")
                        i.devicon-html5-plain-wordmark.fa-4x.mb-1(title="HTML")
                        i.devicon-css3-plain-wordmark.fa-4x.mb-1(title="CSS")
                        i.devicon-mysql-plain-wordmark.fa-4x.mb-1(title="mySQL")
                        i.devicon-react-original-wordmark.fa-4x.mb-1(title="React.js")
                        i.devicon-scala-plain-wordmark.fa-4x.mb-1(title="Scala")
                        i.devicon-javascript-plain-wordmark.fa-4x.mb-1(title="JavaScript")
                        i.devicon-python-plain-wordmark.fa-4x.mb-1(title="Python")


        // Internships
        section#intern.intern.content-section.bg-primary.text-black.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Internships
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(href='#overlay4')
                            .caption
                                .caption-content
                                    //.h2 Vanderbilt University Medical Center
                                    //p.mb-0 Nasheville, Tennessee
                            img.img-fluid(src='assets/img/vumc-logo.jpg', alt='VUMC logo')
                    .col-lg-6
                        a.portfolio-item(href='#overlay5')
                            .caption
                                .caption-content
                                    //- .h2 Digital Global Systems
                                    //- p.mb-0 Tyson, Virginia
                            img.img-fluid(src='assets/img/dgs-logo.jpg', alt='DGS logo')
                .row.gx-0.justify-content-center
                    .col-lg-6
                        a.portfolio-item(href='#overlay6')
                            .caption
                                .caption-content
                                    //- .h2 fortyAU
                                    //- p.mb-0 Nasheville, Tennessee
                            img.img-fluid(src='assets/img/fortyau-logo.jpg', alt='...')
            #overlay4.overlay
                .overlay-content
                    button.close-btn#close-overlay4 &times;
                    h2 Vanderbilt University Medical Center
                    .row.align-items-center
                        .col-lg-12.overlay1p
                            p This is a work in progress and will be updated upon completion.
            #overlay5.overlay
                .overlay-content
                    button.close-btn#close-overlay5 &times;
                    h2 Digital Global Systems
                    .row.align-items-center
                        .col-lg-6.overlay2p
                            p.text-left
                                
                        .col-lg-6 
                            //iframe(src='/assets/pdfs/used-cars.pdf#toolbar=0', width='100%', height='600px', scrolling='yes')
                    .row.text-center
                        .col-lg-12
                            a.btn.btn-primary.btn-xl(href='https://github.com/jaxri/DataMiningProject/tree/main', target='_blank') View Source Code
            #overlay6.overlay
                .overlay-content
                    button.close-btn#close-overlay6 &times;
                    h2 fortyAU
                    p This is the description of Project 3.
        // Footer
        footer#footer.footer.text-center
            .container.px-4.px-lg-5.text-center
                    h2.mx-auto.mb-5
                        | Contact Me
                    a.btn.btn-primary.btn-xl(href='mailto:jacksonrini3@gmail.com') Send me an Email!
            .container.px-4.px-lg-5(style="padding-top: 20px; padding-bottom: 20px;")
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.linkedin.com/in/jackson-rini-a6ba601b8/', target='_blank')
                            i.icon-social-linkedin
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://github.com/jaxri', target='_blank')
                            i.icon-social-github

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')