doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Jackson Rini

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Jackson Rini
                li.sidebar-nav-item
                    a(href='#page-top') Home
                li.sidebar-nav-item
                    a(href='#about') About
                li.sidebar-nav-item
                    a(href='#projects') Projects
                li.sidebar-nav-item
                    a(href='#skills') Skills
                li.sidebar-nav-item
                    a(href='#intern') Internships
                li.sidebar-nav-item
                    a(href='#contact') Contact

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 Jackson Rini
                a.btn.btn-dark.btn-xl(href='#about') About Me

        // About
        section#about
            .container.px-4.px-lg-5.text-center
                .content-section-heading.text-center
                    h2.mb-5 About Me
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/IMG_0420.jpg', alt='Your Image')
                    .col-lg-6.text-left
                        p.lead.mb-5
                            | Hello, I'm Jackson Rini, and I'm thrilled to be graduating with a Bachelor of Science in Computer Science from the University of Colorado, Boulder. Throughout my academic journey, I've delved deep into the captivating realm of computer science, delving into diverse topics ranging from algorithms and data structures to software engineering and artificial intelligence.
                        p.lead.mb-5
                            | My time at CU Boulder has been marked by enriching experiences, including engaging in various internships and projects. These opportunities have allowed me to collaborate within teams, acquire new skills on the go, and adeptly navigate unforeseen challenges.
                        p.lead.mb-5    
                            | Beyond the realm of code, I'm deeply passionate about playing guitar, exercising in the gym, and reading literature, which provide balance and inspiration in my life. Whether it's learning songs on the guitar or observing different art forms, I find that diverse interests fuel creativity and enrich my perspective as a computer scientist.
                        p.lead.mb-5    
                            | As I embark on the next chapter of my journey, I'm excited to find projects and challenges to immerse myself in. Whether it's further schooling, furthering my career, or independent projects, I'm committed to lifelong learning and continuous growth in the dynamic field of computer science.   
                            | I'm eager to apply my skills and knowledge to make contributions to meaningful projects. Let's connect and explore how we can collaborate together.
                a.btn.btn-primary.btn-xl(href='/assets/Resume.pdf', target='_blank') View Resume
                a.btn.btn-primary.btn-xl(href='#contact') Contact
        // Projects
        section#projects.projects.content-section.bg-primary.text-black.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Projects
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(href='#overlay1')
                            .caption
                                .caption-content
                                    .h2 Senior Project - Superpowers
                                    p.mb-0 This project aims to automate the entire venture investment opportunity discovery and evaluation process.
                            img.img-fluid(src='assets/img/portfolio-1.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#overlay2')
                            .caption
                                .caption-content
                                    .h2 Car Price Prediction
                                    p.mb-0 Data Mining using Machine Learning and Regression
                            video.img-fluid(autoplay loop muted)
                                source(src='assets/vid/datamining2.mp4', type='video/mp4')
                                Your browser does not support the video tag.
                .row.gx-0.justify-content-center
                    .col-lg-6
                        a.portfolio-item(href='#overlay3')
                            .caption
                                .caption-content
                                    .h2 Strawberries
                                    p.mb-0 Strawberries are such a tasty snack, especially with a little sugar on top!
                            img.img-fluid(src='assets/img/portfolio-3.jpg', alt='...')
            #overlay1.overlay
                .overlay-content
                    button.close-btn#close-overlay1 &times;
                    h2 Project 1 Description
                    p This is the description of Project 1.
            #overlay2.overlay
                .overlay-content
                    button.close-btn#close-overlay2 &times;
                    h2 Car Price Prediction
                    p This is the description of Project 2.
            #overlay3.overlay
                .overlay-content
                    button.close-btn#close-overlay3 &times;
                    h2 Project 3 Description
                    p This is the description of Project 3.

        // Skills
        section#skills.skills.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                h2.mx-auto.mb-5
                    | Skills
                a.btn.btn-primary.btn-xl(href='https://startbootstrap.com/theme/stylish-portfolio/') Download Now!

        // Internships
        section#intern.intern.content-section.bg-primary.text-black.text-center
            .container.px-4.px-lg-5
                .content-section-heading.text-center
                    h2.mb-5 Internships
                .row.gx-0
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Stationary
                                    p.mb-0 A yellow pencil with envelopes on a clean, blue backdrop!
                            img.img-fluid(src='assets/img/portfolio-1.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Ice Cream
                                    p.mb-0 A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!
                            img.img-fluid(src='assets/img/portfolio-2.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Strawberries
                                    p.mb-0 Strawberries are such a tasty snack, especially with a little sugar on top!
                            img.img-fluid(src='assets/img/portfolio-3.jpg', alt='...')
                    .col-lg-6
                        a.portfolio-item(href='#!')
                            .caption
                                .caption-content
                                    .h2 Workspace
                                    p.mb-0 A yellow workspace with some scissors, pencils, and other objects.
                            img.img-fluid(src='assets/img/portfolio-4.jpg', alt='...')

        // Footer
        footer#footer.footer.text-center
            .container.px-4.px-lg-5.text-center
                    h2.mx-auto.mb-5
                        | Contact Me
                    a.btn.btn-primary.btn-xl(href='mailto:jacksonrini3@gmail.com') Send me an Email!
            .container.px-4.px-lg-5(style="padding-top: 20px;")
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.linkedin.com/in/jackson-rini-a6ba601b8/', target='_blank')
                            i.icon-social-linkedin
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://github.com/jaxri', target='_blank')
                            i.icon-social-github

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')